asgiref
attrs
Django
django-bootstrap5
Faker
flake8
flake8-docstrings
iniconfig
mccabe
mixer
packaging
pep8-naming
Pillow
pluggy
py
pycodestyle
pyflakes
pytest
pytest-django
python-dateutil
pytz
six
sqlparse
tomli
yapf
beautifulsoup4